body {
  /* removes border from map on webpage */
  padding: 0;
  margin: 0;
  font-size: 100%;
}

ul {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: 20px;
  font-family: verdana;
  font-weight: bold;
  font-size: 1em;
}

li {
  display: inline;
  margin: 5px;
  border: 3px solid green;
  padding: 5px;
  background-color: white;
  color: green;
  cursor: pointer;
}

p {
  margin: 0px;
  font-family: verdana;
  font-size: 1em;
  color: black;
}

#mapid {
  /* z-index indicates element stack order */
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
}

#leftPanel {
  top: 200px;
  left: 10px;
  display: block;
}

#rightPanel {
  top: 200px;
  right: 10px;
  display: block;
}

.unselectable {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel {
  z-index: 2;
  position: absolute;
  border: 2px solid black;
  padding: 5px;
  width: 20%;
  min-width: 150px;
  max-width: 30%;
  max-height: 500px;
  height: 70%;
  background-color: rgba(226, 226, 226, 0.8);
}
